<div class="row">
<div class="col-12" style="background-color: white;height:420px;margin-bottom: 0px;">
    <h1>הוסף קטגוריה</h1>
    <hr style="margin-top:-15px;width:99%;">

    <form 
    style="padding-top: 20px;"
    (ngSubmit)="onAddClick(f)"
     #f="ngForm">
     <table>
         <tr>
             <td>שם קטגוריה: </td>
             <td><input type="text" ngModel name="name" required></td>
         </tr>
         <tr>
            <td>אייקון: </td>
            <td><input type="text" ngModel name="icon" required></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">הוסף קטגוריה</button></td>
        </tr>
     </table>
    </form>
</div>
</div>