<div class="row" style="background-color: rgba(0, 0, 41, 0.89);align-items: center;z-index:1;">
    <div class="col-12 col-xl-12 col-sm-12" >
        <div style="display:flex;
        align-items: center;
        margin:auto;
        flex-direction: row;justify-content: center;background-color: rgba(63, 63, 63, 0.363);width: 50%;height:60%;margin:auto;border-radius: 20px;">

        <div class="col-6 col-xl-5">
            <p style="color:rgba(255, 255, 255, 0.657)" >הירשם לעדכונים</p>
        </div>
        <div class="col-3 col-xl-3">
            <input type="text" value="" style="width: 100%;height:80%;" />
        </div>
        <div class="col-3 col-xl-3" >
            <div style="height: 100%;width: 100%;background-color: rgba(63, 63, 63, 0.596);border-top-left-radius: 20px;border-bottom-left-radius: 20px;text-align: center;">
                <p style="color:rgba(255, 255, 255, 0.582);text-align: center;">הירשם</p>
            </div>
            <!-- <span ></span> -->
        </div>
        
         
    </div>
    </div>
</div>
<div class="row" style="justify-content:space-around;color:white">
    <div class="col-6 col-xl-3 col-sm-2" style="border-left:1px solid white;" >
        <div class="row" style="text-align: center;">
            <h2 style="margin:auto;" >מדריך קניה</h2>
        </div>
        <div class="row" >
            <div class="col-12 col-xl-12 col-sm-12" style="text-align: right;padding-right:10px;">
            <li>בלוג</li>
            <li>שאלות ותשובות</li>
            <li>תשלום</li>
            <li>משלוחים</li>
            <li>איפה ההזמנה שלי?</li>
            <li>מדיניות החזרת מוצר</li>
        </div>
        </div>
    </div>
    <div class="col-6 col-xl-3 col-sm-2" style="border-left:1px solid white;">
        <div class="row" style="text-align: center;">
            <h2 style="margin:auto;">יועץ אישי</h2>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12 col-sm-12" style="text-align: right;padding-right:10px;">
            <li>המשתמש שלי</li>
            <li>מידע</li>
            <li>כתובות</li>
            <li>מבצעים</li>
            <li>היסטורית הזמנות</li>
            <li>מעקב אחרי הזמנה</li>
        </div>
        </div>
    </div>
    <div class="col-6 col-xl-3 col-sm-2" style="border-left:1px solid white;">
        <div class="row" style="text-align: right;padding-right:10px;">
            <h2 style="margin:auto;" >מידע</h2>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12 col-sm-12" style="text-align: right;padding-right:10px;">
            <li>מפת האתר</li>
            <li>תנאי חיפוש</li>
            <li>חיפוש מתקדם</li>
            <li>עלינו</li>
            <li>צרו קשר</li>
            <li>ספקים</li>
        </div>
        </div>
    </div>
    <div class="col-6 col-xl-3 col-sm-2" style="border-left:1px solid white;">
        <div class="row" style="text-align: center;">
            <h2 style="text-align:center;margin:auto;" >צרו קשר</h2>
        </div>
        <div class="row" >
            <div class="col-12 col-xl-12 col-sm-12" style="padding-right:10px;" >
            <li>כתובת</li>
            <li>מספר טלפון</li>
            <li>אימייל</li>
        </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: rgba(0, 0, 41, 0.89);">
    <div dir="ltr" class="col-12" style="text-align: left;padding-left:5%;color:rgba(161, 161, 161, 0.637);">
        <h4>© 2020 Amit Gal. All Rights Reserved.</h4>

    </div>
</div>