<div [ngSwitch]="rating" style="display:flex;">
<p *ngSwitchCase=1>
    <img id="rating1" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/5958663981581655959-512.png"/>
    <img id="rating2" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img id="rating3" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img id="rating4" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img id="rating5" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>

</p>
<p *ngSwitchCase=2>
    <img id="rating1" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/5958663981581655959-512.png"/>
    <img id="rating2" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/5958663981581655959-512.png"/>
    <img id="rating3" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img id="rating4" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img id="rating5" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>

</p>
<p *ngSwitchCase=3>
    <img id="rating1" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>
    <img id="rating2" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>
    <img id="rating3" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>
    <img id="rating4" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img id="rating5" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>

</p>
<p *ngSwitchCase=4>
    <img id="rating2" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>
    <img id="rating3" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>
    <img id="rating4" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>
    <img id="rating5" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>

</p>
<p *ngSwitchCase=5>
    <img id="rating1" style="height:20px;width:20px;" src="https://www.flaticon.com/svg/static/icons/svg/1828/1828884.svg"/>
    <img id="rating2" style="height:20px;width:20px;" src="https://www.flaticon.com/svg/static/icons/svg/1828/1828884.svg"/>
    <img id="rating3" style="height:20px;width:20px;" src="https://www.flaticon.com/svg/static/icons/svg/1828/1828884.svg"/>
    <img id="rating4" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>
    <img id="rating5" style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/15041617701555937167-512.png"/>

</p>
<p *ngSwitchDefault>

    <img style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>
    <img style="height:20px;width:20px;" src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/12462759551530273518-512.png"/>

</p>
</div>