

<div class="w3-content w3-display-container" style="width: 100%;height:100%;position: relative;" >
<div *ngIf="sliderObj" [routerLink]="[ '/article', sliderObj.id ]" style="text-align: center;background-image:url({{sliderObj.picUrl}});background-repeat: no-repeat;position: relative;  background-position: center;background-size:cover;height:100%;width: 100%;" [@openClose]="string" >
<div style="width:100%;position: absolute;bottom: 0px;color:white;background-color: rgba(31, 29, 44, 0.822);min-height: 20%;text-align: right;padding-right:1em;">
    <h1 >{{sliderObj.name}}</h1>
    <h3>{{sliderObj.category}}</h3>
</div>
</div>
<button class="w3-button w3-display-right" style="font-size: 30px;" (click)="moveFoward()">&#10094;</button>
<button class="w3-button w3-display-left" style="font-size: 30px;" (click)="moveBack()">&#10095;</button>
</div>
