<div style="z-index:3;min-height:250px;" >
    <!-- {id:3,name:'Puma',category:'bzaat',imageUrl:'https://www.pngfind.com/pngs/m/146-1460480_color-brilliancy-mens-puma-benny-black-white-textile.png',isAvaliable:true,price:30} -->
    <h3 style="text-align:center;">הוסף תגובה</h3>
    <form (ngSubmit)="onAddComment(f)" #f="ngForm" style="padding-left: 20%;padding-right:20%;">
        <!-- מס"ד: <input type="number" ngModel name="id" required style="visibility: hidden;"><br/> -->
        תוכן: <input type="text" ngModel name="content" required ><br/>
        <!-- מס"ד של פוסט:<input type="number" ngModel name="postId" style="visibility: hidden;" required><br/> -->
        <!-- מס"ד של משתמש:<input type="number" ngModel name="userId" required><br/><br/> -->
        <button type="submit" style="text-align: center;margin:auto;">הוסף תגובה</button>
      </form>

</div>