
  img{
    visibility: hidden;    
}
p{
    font-size: 13px;
    font-weight: bold;
}
input{
    font-size: 13px;
}


.loginbox{
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-bottom: 10px;
    border-radius: 20px;
    position: relative;
}

@media (min-width: 576px) {
    img{
        visibility: visible;
      }
      p{
        font-size: 16px;
        margin:0;
        padding:0;
    }
    input{
        font-size: 16px;
    }
    .loginbox{
        width:60%;
        margin:auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding-bottom: 10px;
        border-radius: 20px;
        position: relative;
    }
  }
  
@media (min-width: 1200px) {
    img{
      visibility: visible;
    }
    p{
        font-size: 20px;
        font-weight: normal;

    }
    input{
        font-size: 20px;
    }
    .loginbox{
        width:60%;
        margin:auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding-bottom: 10px;
        border-radius: 20px;
        position: relative;
    }
  }
  

  
