<div class="row">
    <div class="col-3" style="background-color: rgb(255, 255, 255);margin-top:0px;margin-bottom:0px;">
        <div style="width:100%;position: relative;">
            <div id="draw-border">
                <button style="width: 100%;">ראשי</button>
            </div>
        </div>
        <div style="width:100%;position: relative;margin-top:0px;margin-bottom:0px;">
            <div id="draw-border">
                <button style="width: 100%;" routerLink="/products/catalog/שמלות">שמלות</button>
            </div>
        </div>
        <div style="width:100%;position: relative;">
            <div id="draw-border">
                <button style="width: 100%;" routerLink="/products/catalog/גקטים">ג'קטים</button>
            </div>
        </div>
        <div style="width:100%;position: relative;">
            <div id="draw-border">
                <button style="width: 100%;" routerLink="/products/catalog/ספורט">ספורט</button>
            </div>
        </div>
        <div style="width:100%;position: relative;">
            <div id="draw-border">
                <button style="width: 100%;" routerLink="/products/catalog/בגדי ערב" >אלגנט</button>
            </div>
        </div>
        <div style="width:100%;position: relative;">
            <div id="draw-border">
                <button style="width: 100%;" routerLink="/products/catalog/ילדים">ילדים</button>
            </div>
        </div>
        <div style="width:100%;position: relative;">
            <div id="draw-border">
                <button style="width: 100%;">אביזרים</button>
            </div>
        </div>
        <div style="width:100%;position: relative;">
            <div id="draw-border">
                <button style="width: 100%;">הכל ב$</button>
            </div>
        </div>
        <div style="width:100%;position: relative;">
            <div id="draw-border">
                <button style="width: 100%;" routerLink="/products/catalog/נעליים">נעליים</button>
            </div>
        </div>
        <div style="width:100%;position: relative;border-bottom: 0px solid black;">
            <div id="draw-border" >
                <button style="width: 100%;" routerLink="/forum" >פורום</button>
            </div>
        </div>

    </div>
    <div class="col-9 col-xl-9 col-sm-9"
        style="margin-top:0px;background-color: rgba(255, 255, 255, 0.815);justify-items: center;margin-bottom:0px;">
        <app-slider [slide]="articles"></app-slider>
    </div>
</div>
<div class="row" style="justify-content:space-around;">
    <div class="col-4 col-sm-4" style="max-height: 130px;"><img style="height: 100%;width:100%"
            src="/assets/banner/home-banner2.jpg" /></div>
    <div class="col-3 col-sm-3" style="max-height: 130px;"><img style="height: 100%;width:100%"
            src="/assets/banner/home-banner1.jpg" /></div>
    <div class="col-3 col-sm-3" style="max-height: 130px;"><img style="height: 100%;width:100%"
            src="/assets/banner/home-banner1.jpg" /></div>
</div>
<div class="row" style="justify-content:space-around;background-color: white;align-items: center;">
    <div class="col-xl-8 col-sm-8 col-12" style="align-items: center;justify-content: center;margin-top:0px;margin-bottom:20px;">
                <app-slider-no-category [slide]="_products"></app-slider-no-category>
    </div>
    <div class="col-xl-3 col-sm-3 col-8" style="border:1px solid rgba(143, 143, 143, 0.459);padding-top: 10px;margin-top: 10px;" >
        <div style="height:100px;width:100px;border-bottom: 0px solid black;margin:auto;">
            <img style="height: 100%;width:100%;border-radius:100%;border:1px solid rgb(119, 119, 119);"
                src="http://wpdemo.magikthemes.com/linea/wp-content/uploads/sites/2/2016/03/member2.jpg" />
        </div>
        <div style="border-bottom: 0px solid black;width:90%;margin:auto;margin-top: 20px;">
            <p>
                מסתכל עלי למעלה
                הקדוש ברוך הוא
                מסתכל עלי למעלה
                גלח אפס פיקס

                <br>
                ג׳ל קוצים בג׳ל קוצים
                אתה עם הג׳ל קוצים בג׳ל קוצים
                כמו שחקנית של פורנו מומלצים
                פס מעל הביצים
                מסתכל עלי למעלה
            </p>
        </div>

    </div>
</div>
<div class="row" style="display: flex;justify-content:space-around;background-color: white;padding-bottom: 30px;">
    <div class="col-xl-8 col-sm-8 col-12" style="align-items: center;justify-content: center;">
        
        <app-scroll-slideshow-item   *ngIf="_products" [slide]="_products"></app-scroll-slideshow-item>
    </div>
    <div class="col-xl-3 col-sm-3 col-8" style="border:1px solid rgba(143, 143, 143, 0.459);padding-top: 10px;" >
        <div style="height:100px;width:100px;border-bottom: 0px solid black;margin:auto;">
            <img style="height: 100%;width:100%;border-radius:100%;border:1px solid rgb(119, 119, 119);"
                src="http://wpdemo.magikthemes.com/linea/wp-content/uploads/sites/2/2016/03/member2.jpg" />
        </div>
        <div style="border-bottom: 0px solid black;width:90%;margin:auto;margin-top: 20px;">
            <p>
                סטפן, סטפן
                מה יש לך שם
                תראה לנו תנמייה
                תחנוכיה
                סטפן, סטפן
                מה יש לך שם?
                מה זה שלוש רגליים?
                תראה לנו את השמש

                <br>
                יאללה תראה לנו צ׳יק צ׳ק
                איך הוא דופק איתו פליק פלק
                איך הוא דופק איתו סלטה
            </p>
        </div>

    </div>
</div>
