.topmenunew {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.width{
    width:90%;
}
.image_c{
    visibility: hidden;
}
@media (min-width: 576px) {
    .image_c{
        visibility: hidden;
    }
    .width{
        width:80%;
    }
  }
  
@media (min-width: 1200px) {
    .image_c{
        visibility: visible;
    }
    .width{
        width:80%;
    }
  }