<div dir="rtl" class="row center" style="justify-content:center;z-index: 1;background-color: rgb(255, 255, 255);border: 0px solid black;margin-top: 0px;align-items:center;">
  <div class="col-1 col-xl-1 col-sm-2" style="min-height:20px;margin-top:0px;margin-bottom:0px;"  >
    <img src="../assets/logo.png" style="width:50%">
</div>
  <div class="col-2 col-xl-2 col-sm-2" >
    <span [routerLink]="[ '/' ]" >כותרת</span>
</div>

    <div class="col-2 col-xl-2 col-sm-2"  *ngIf="_user==null">
        <span  [routerLink]="[ '/login' ]" >התחבר</span>
    </div>
    <div class="col-2 col-xl-2 col-sm-2"  *ngIf="_user!=null">
        <span  >שלום {{_user.username}}</span>
    </div>
    <div class="col-2 col-xl-2 col-sm-2"  *ngIf="_user!=null" >
        <span  [routerLink]="[ '/admin' ]" >דף אדמין</span>
    </div>

    <div class="col-2 col-xl-2 col-sm-2"  *ngIf="_user==null" >
        <span *ngIf="_user==null" [routerLink]="[ '/signup' ]" >הרשם</span>
    </div>
    <div class="col-2 col-xl-2 col-sm-2"  >
        <span [routerLink]="[ '/forum' ]" >פורום</span>
    </div>
    
        
    
    <div (mouseenter)="overCart=true" (mouseleave)="overCart=false" class="col-2 col-xl-2 col-sm-2 cartDropdown" style="overflow:visible;position: relative;margin-top:0px;margin-bottom:0px;" >
        <span  [routerLink]="[ '/cart' ]" >סל קניות
               
        </span>
        <div *ngIf="overCart" class="cartDropdown"  style="background-color: white;position: absolute;left:0px;width:100%;">
            <div *ngIf="_user!=null">
            <p style="border-bottom: 1px solid black;padding-bottom:10px;">בסל שלך כרגע יש {{_cart.length}} פריטים</p>
            <div style="display: flex;justify-content: space-between;" *ngFor="let product of _cart">
                <img class="col-4" src="{{product.imageUrl}}"/>
                <p class="col-7" style="text-align:right;font-size:16px;">
                    שם פריט:{{product.name}}<br>
                    כמות: {{product.quantity}}<br>
                    מידה:{{product.size}}<br>
                    מחיר: {{product.price}}<br>
                </p>
                <hr style="color: black;">

            </div>
            <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-top:10px;">
                <div style="border:1px solid black;width:90%;height:20%;padding-top:10px;padding-bottom:10px;margin-bottom: 10px;">
                    עבור לסל הקניות >>
                </div>
            </div>
        </div>

        <div *ngIf="_user==null">
<p>
    התחבר כדי להציג את עגלת הקניות
</p>
        </div>


        </div>
       
    </div>


</div>
