<div class="row" style="background-color: white;margin-bottom:0px;margin-top:0px;">
  <div class="col-12">
    <div class="topmenunew" style="display:flex;justify-content:center;align-items:center;border-radius: 20px;width:70%;margin:auto;margin-bottom:0px;margin-top:10px;height: 60px;">
      <!-- {id:3,name:'Puma',category:'bzaat',imageUrl:'https://www.pngfind.com/pngs/m/146-1460480_color-brilliancy-mens-puma-benny-black-white-textile.png',isAvaliable:true,price:30} -->
      <h3 style="text-align:center;font-weight: bold;">הירשם</h3>
    </div>
  </div>
  <div class="col-12" style="margin-top: 10px;margin-bottom:20px;">
    <div class="topmenunew" style="width:60%;margin:auto;display:flex;flex-direction:column;justify-content:center;padding-bottom: 10px;border-radius: 20px;position: relative;min-height: 300px;">
      <img style="height:200px;width:200px;position:absolute;left:27px;" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/compose-512.png" alt="">
      <p style="padding-right: 20px;font-size: 18px;">שלום אורח,<br>
         מלא את פרטייך על מנת להרשם</p>
      <form (ngSubmit)="onRegister(f)" #f="ngForm">
        <table  style="padding-right:20px;font-size: 18px;margin-bottom: 30px;">
          <tr>
            <td style="margin-left:5px;">שם משתמש</td>
            <td><input style="width: 100%;" type="text" ngModel name="username" required></td>
          </tr>
          <tr>
            <td style="margin-left:5px;">סיסמא</td>
            <td><input style="width: 100%;" type="text" ngModel name="password" required></td>
          </tr>
          <tr>
            <td style="margin-left:5px;">מין</td>
            <td style="text-align: right;">
              <input style="margin-left:5px;" type="radio" id="male" ngModel name="gender" value="male">
              <label style="margin-left:5px;" for="male">זכר</label>
              <input style="margin-left:5px;" type="radio" id="female" ngModel name="gender" value="female">
              <label style="margin-left:5px;" for="female">נקבה</label>
              <input style="margin-left:5px;" type="radio" id="other" ngModel name="gender" value="other">
              <label style="margin-left:5px;" for="other">אחר</label>
            </td>
          </tr>
          <tr>
            <td style="margin-left:5px;">תמונה</td>
            <td><input style="width:100%" type="text" ngModel name="password" required></td>
          </tr>
          <tr style="font-size:14px;">
            <td style="margin-left:5px;"></td>
            <td ><input type="checkbox" style="font-size:14px;" ngModel name="agree" required>
              קראתי את תנאי השימוש באתר ובשירותיו ואני מסכים להם
            </td>
          </tr>
          <tr>
            <td></td>
            <td><button style="width:100%" type="submit">הירשם</button></td>
          </tr>
        </table>
          <!-- <input type="text" ngModel name="password" required> -->
        </form>
  
  </div>
  </div>
</div>
