<div class="row" style="background-color: white;margin-bottom:0px;margin-top:0px;">
  <div class="col-12">
    <div class="topmenunew" style="display:flex;justify-content:center;align-items:center;border-radius: 20px;width:70%;margin:auto;margin-bottom:0px;margin-top:10px;height: 60px;">
      <!-- {id:3,name:'Puma',category:'bzaat',imageUrl:'https://www.pngfind.com/pngs/m/146-1460480_color-brilliancy-mens-puma-benny-black-white-textile.png',isAvaliable:true,price:30} -->
      <h3 style="text-align:center;font-weight: bold;">הירשם</h3>
    </div>
  </div>
  <div class="col-6-xl col-12" style="margin-top: 10px;margin-bottom:20px;">
    <div class="topmenunew loginbox" >
      <img style="height:200px;width:200px;position:absolute;left:27px;" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/compose-512.png" alt="">
      <p style="padding-right: 20px;">שלום אורח,<br>
         מלא את פרטייך על מנת להרשם</p><br>
      <form (ngSubmit)="onRegister(f)" #f="ngForm">
        <div  style="padding-right:20px;padding-left:20px;margin-bottom: 30px;">
          <div class="row"  style="background-color: white;">
            <div class="col-xl-2 col-sm-2 col-12"  ><p>שם משתמש</p></div>
            <div class="col-xl-10 col-sm-9 col-12" style="display: flex;align-items: center;"><input style="width: 35%;" type="text" ngModel name="username" required></div>
          <!-- </tr>
          <tr> -->
            <div class="col-xl-2 col-sm-2 col-12" ><p>סיסמא</p></div>
            <div class="col-xl-10 col-sm-9 col-12" style="display: flex;align-items: center;"><input style="width: 35%;" type="text" ngModel name="password" required></div>
          <!-- </tr>
          <tr> -->
            <div class="col-xl-2 col-sm-2 col-12" ><p>מין</p></div>
            <div class="col-xl-10 col-sm-9 col-12" style="display: flex;align-items: center;">
              <input style="margin-left:5px;" type="radio" id="male" ngModel name="gender" value="male">
              <label style="margin-left:5px;" for="male"><p>זכר</p></label>
              <input style="margin-left:5px;" type="radio" id="female" ngModel name="gender" value="female">
              <label style="margin-left:5px;" for="female"><p>נקבה</p></label>
              <input style="margin-left:5px;" type="radio" id="other" ngModel name="gender" value="other">
              <label style="margin-left:5px;" for="other"><p>אחר</p></label>
            </div>
          <!-- </tr>
          <tr> -->
            <div class="col-xl-2 col-sm-2 col-12 " ><p>תמונה</p></div>
            <div class="col-xl-10 col-sm-9 col-12" style="display: flex;align-items: center;"><input style="width:35%" type="text" ngModel name="password" required></div>
          <!-- </tr>
          <tr style="font-size:14px;"> -->
            <div class="col-xl-2 col-sm-2 col-12" style="padding:10px;margin:0px;"></div>
            <div class="col-xl-10 col-sm-9 col-12" style="display: flex;align-items: center;padding:0px;margin:0px;" ><input type="checkbox" style="font-size:14px;" ngModel name="agree" required>
              <p>קראתי את תנאי השימוש באתר ובשירותיו ואני מסכים להם</p>
            </div>
          <!-- </tr>
          <tr> -->
            <div class="col-xl-2 col-sm-2 col-12"></div>
            <div class="col-xl-10 col-sm-9 col-12" style="display: flex;align-items: center;"><button style="width:30%" type="submit">הירשם</button></div>
          </div>
        </div>
          <!-- <input type="text" ngModel name="password" required> -->
        </form>
  
  </div>
  </div>
</div>
